table {
	thead {
		th {
		.form-check-input:checked {
			background-color: var(--bs-white);
			border-color: var(--bs-white);
		}
			.form-check-input[type=checkbox]:indeterminate {
				background-color: var(--bs-gray-100);
				border-color: var(--bs-gray-400);
			}
		}
	}
}
.custom-checkbox.custom-checkbox-color {
	input.bg-primary~label {
		&::before {
			background-color: var(--bs-primary) !important;
			border-color: var(--bs-primary) !important;
		}
	}
	input.bg-success~label {
		&::before {
			background-color: var(--bs-success) !important;
			border-color: var(--bs-success) !important;
		}
	}
	input.bg-danger~label {
		&::before {
			background-color: var(--bs-danger) !important;
			border-color: var(--bs-danger) !important;
		}
	}
	input.bg-warning~label {
		&::before {
			background-color: var(--bs-warning) !important;
			border-color: var(--bs-warning) !important;
		}
	}
	input.bg-dark~label {
		&::before {
			background-color: var(--bs-body-color) !important;
			border-color: var(--bs-body-color) !important;
		}
	}
	input.bg-info~label {
		&::before {
			background-color: var(--bs-info) !important;
			border-color: var(--bs-info) !important;
		}
	}
}
.custom-checkbox.custom-checkbox-color-check {
	input {
		&:checked.bg-primary~label {
			&::before {
				background-color: var(--bs-primary) !important;
				border-color: var(--bs-primary) !important;
			}
		}
		&:checked.bg-success~label {
			&::before {
				background-color: var(--bs-success) !important;
				border-color: var(--bs-success) !important;
			}
		}
		&:checked.bg-danger~label {
			&::before {
				background-color: var(--bs-danger) !important;
				border-color: var(--bs-danger) !important;
			}
		}
		&:checked.bg-warning~label {
			&::before {
				background-color: var(--bs-warning) !important;
				border-color: var(--bs-warning) !important;
			}
		}
		&:checked.bg-dark~label {
			&::before {
				background-color: var(--bs-body-color) !important;
				border-color: var(--bs-body-color) !important;
			}
		}
		&:checked.bg-info~label {
			&::before {
				background-color: var(--bs-info) !important;
				border-color: var(--bs-info) !important;
			}
		}
	}
}
.custom-radio.custom-radio-color {
	input.bg-primary~label {
		&::before {
			background-color: var(--bs-primary) !important;
			border-color: var(--bs-primary) !important;
		}
	}
	input.bg-success~label {
		&::before {
			background-color: var(--bs-success) !important;
			border-color: var(--bs-success) !important;
		}
	}
	input.bg-danger~label {
		&::before {
			background-color: var(--bs-danger) !important;
			border-color: var(--bs-danger) !important;
		}
	}
	input.bg-warning~label {
		&::before {
			background-color: var(--bs-warning) !important;
			border-color: var(--bs-warning) !important;
		}
	}
	input.bg-dark~label {
		&::before {
			background-color: var(--bs-body-color) !important;
			border-color: var(--bs-body-color) !important;
		}
	}
	input.bg-info~label {
		&::before {
			background-color: var(--bs-info) !important;
			border-color: var(--bs-info) !important;
		}
	}
}
.custom-radio.custom-radio-color-checked {
	input {
		&:checked.bg-primary~label {
			&::before {
				background-color: var(--bs-primary) !important;
				border-color: var(--bs-primary) !important;
			}
		}
		&:checked.bg-success~label {
			&::before {
				background-color: var(--bs-success) !important;
				border-color: var(--bs-success) !important;
			}
		}
		&:checked.bg-danger~label {
			&::before {
				background-color: var(--bs-danger) !important;
				border-color: var(--bs-danger) !important;
			}
		}
		&:checked.bg-warning~label {
			&::before {
				background-color: var(--bs-warning) !important;
				border-color: var(--bs-warning) !important;
			}
		}
		&:checked.bg-dark~label {
			&::before {
				background-color: var(--bs-body-color) !important;
				border-color: var(--bs-body-color) !important;
			}
		}
		&:checked.bg-info~label {
			&::before {
				background-color: var(--bs-info) !important;
				border-color: var(--bs-info) !important;
			}
		}
	}
}
.custom-switch.custom-switch-color {
	input {
		&:checked.bg-primary~label {
			&::before {
				background-color: var(--bs-primary) !important;
				border-color: var(--bs-primary) !important;
			}
		}
		&:checked.bg-success~label {
			&::before {
				background-color: var(--bs-success) !important;
				border-color: var(--bs-success) !important;
			}
		}
		&:checked.bg-danger~label {
			&::before {
				background-color: var(--bs-danger) !important;
				border-color: var(--bs-danger) !important;
			}
		}
		&:checked.bg-warning~label {
			&::before {
				background-color: var(--bs-warning) !important;
				border-color: var(--bs-warning) !important;
			}
		}
		&:checked.bg-dark~label {
			&::before {
				background-color: var(--bs-body-color) !important;
				border-color: var(--bs-body-color) !important;
			}
		}
		&:checked.bg-info~label {
			&::before {
				background-color: var(--bs-info) !important;
				border-color: var(--bs-info) !important;
			}
		}
	}
}
.custom-checkbox.checkbox-icon {
	label {
		i {
			position: absolute;
			top: 7px;
			left: -20px;
			font-size: 11px;
			@include transform-mixin(scale(0));
			@if $enable-transitions == true {
				@include transition-mixin(all 0.3s ease-in-out);
			}
		}
	}
	input {
		&:checked~label {
			i {
				@include transform-mixin(scale(1));	
				color: var(--bs-white);
			}
			&::after {
				display: none;
			}
		}
	}
}

.checkbox-input {
    margin-right: 5px;
}

.custom-control.custom-radio.custom-control-inline{
	align-items: flex-end;
	.custom-control-input{
		height: 0px;
	}}

.custom-control.custom-switch.custom-control-inline{
	align-items: flex-end;
	.custom-control-input{
		height: 0px;
	}
}

.custom-control.custom-checkbox.custom-control-inline{
	align-items: flex-end;
	.custom-control-input{
		height: 0px;
	}
}

.custom-checkbox, .custom-radio {
	.custom-control-label {
		&:after {
			top: 50%;
			-moz-transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
		}
		&:before {
			top: 50%;
			-moz-transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
		}
	}
	.custom-control-label::before {
		border-width: 2px;
		width: 1.25rem;
		height: 1.25rem;
	} 
}
.custom-checkbox{
	.custom-control-label{
		&:after {
			width: 1.25rem;
			height: 1.25rem;
		}
	}
}

.form-check-input[type=radio] {
	margin-right: .5rem;
}
	
	