label {
	color: var(--bs-heading-color);
}
.table {
	td {
		vertical-align: middle;
	}
	th {
		vertical-align: middle;
	}
}

th, td{
	.form-check-input{
		position: static;
	}
}

.form-row {
	margin-right: -10px;
    margin-left: -10px;
	
	& > [class*="col-"] {
		padding-left: 10px;
		padding-right: 10px;
	}
}
.form-control-sm {
	height: 30px;
	line-height: 30px;
}
.form-control-lg {
	height: 50px;
	line-height: 50px;
}
.spin {
	-webkit-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
}
.input-group {
	.input-group-prepend {
		.input-group-text {
			border: 1px solid #bfc9d4;
			background-color:var(--bs-body-bg);
		}
	}
	.input-group-append {
		.input-group-text {
			border: 1px solid #bfc9d4;
			background-color:var(--bs-body-bg);
		}
	}
}
textarea.form-control {
	background-color:var(--bs-gray-900);
	resize: none;
}
#editor { height: 375px }

// file upload
.uploader-file {
	display: block;
	clear: both;
	margin: 0 auto;
	width: 100%;
	max-width: 600px;
	label {
		float: left;
		clear: both;
		width: 100%;
		padding: 2rem 1.5rem;
		text-align: center;
		background: #fff;
		border-radius: 7px;
		border: 3px solid #eee;
		user-select: none;
	}
	label.hover {
		border: 3px solid;
		box-shadow: inset 0 0 0 6px #eee;
	}
	#start-one {
		float: left;
		clear: both;
		width: 100%;
		i.fa {
			font-size: 50px;
			margin-bottom: 1rem;
		}
	}
	#start-one.hidden {
		display: none;
	}
	#response {
		float: left;
		clear: both;
		width: 100%;
		#messages {
			margin-bottom: 0.5rem;
		}
	}
	#response.hidden {
		display: none;
	}
	#file-image {
		display: inline;
		margin: 0 auto 0.5rem auto;
		width: auto;
		height: auto;
		max-width: 180px;
	}
	#file-image.hidden {
		display: none;
	}
	#notimage {
		display: block;
		float: left;
		clear: both;
		width: 100%;
	}
	#notimage.hidden {
		display: none;
	}
	
	.progress {
		display: inline;
		clear: both;
		margin: 0 auto;
		width: 100%;
		max-width: 180px;
		height: 8px;
		border: 0;
		border-radius: 4px;
		background-color: #eee;
		overflow: hidden;
	}
	input[type="file"] {
		display: none;
	}
	div {
		margin: 0 0 0.5rem 0;
		color: #5f6982;
	}
}

.spin {
	-webkit-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
}
.input-group {
	.input-group-prepend {
		.input-group-text {
			border: 1px solid var(--bs-border-color);
			background-color: var(--bs-body-bg);
		}
	}
	.input-group-append {
		.input-group-text {
			border: 1px solid var(--bs-border-color);
			background-color: var(--bs-body-bg);
		}
	}
}
.custom-select {
	height: 46px;
	border: 1px solid var(--bs-border-color);
}
.dropone.dropdown-toggle {
	&:after {
		display: none;
	}
}
.input-group-sm {
	>.custom-select {
		height: 30px;
	}
	>.form-control {
		&:not(textarea) {
			height: 30px;
		}
	}
}
.input-group-lg {
	>.custom-select {
		height: 50px;
	}
	>.form-control {
		&:not(textarea) {
			height: 50px;
		}
	}
}
.input-group-text.text-area {
	padding: 1.9rem .75rem;
}

.custom-file-label {
	box-shadow: none;
	&::after {
		background-color: var(--bs-body-bg);
		color: var(--bs-body-color);
	}
}
.custom-file-input {
	&:focus~.custom-file-label {
		border-color: var(--bs-primary);
		box-shadow: none;
	}
}
.btn-outline-primary.disabled {
	color: var(--bs-primary);
	background-color: transparent;
}
.btn-outline-primary {
	&:disabled {
		color: var(--bs-primary);
		background-color: transparent;
	}
}

.custom-control-label {
	cursor: pointer;
	&:after {
		top: .25rem;
	}
	&:before {
		top: .25rem;
	}
}
.custom-switch {
	.custom-control-label {
		&::after {
			top: calc(.25rem + 2px);
		}
	}
}

body {
	&.modal-open {
		&> .select2-container--open {
			z-index: 1056;
		}
	}
}


//Select 2
 .select2-container--default{
	.select2-selection--multiple{
		// height: 45px;
		// line-height:34px;
		background: #fafbfe;
		border: 1px solid #f1f1f1;
		font-size: 14px;
		color: #535f6b;
		border-radius: 5px;
	}
 }
 .select2-container--default{
	.select2-results__option[aria-selected="true"] {
		background-color: var(--bs-primary) !important;
		color: var(--bs-gray-800);
	}
	.select2-results__option--highlighted[aria-selected] {
		background-color: var(--bs-primary) !important;
		color: var(--bs-gray-800);
	}
}

 @media (max-width: 370px){
	.form-check-inline {
		margin-right: 0rem;
	}
}

@media (max-width: 329px){
	.form-check-inline {
		display: flex;
		margin-bottom: 10px;
	}
}