.iq-blog {
  margin-bottom: 3.75rem;
  img.blog-image {
    height: 17.5rem;
    object-fit: cover;
  }
  .iq-post-details {
    text-align: center;
    margin-top: -1.2rem;
    .blog-meta-data {
      padding: 0.5rem 1.5rem;
      box-shadow: 4px 4px 35px 0px rgba(0, 0, 0, 0.05);
      display: inline-block;
      margin-bottom: 1.38rem;
      font-family: $font-family-monospace;
      .blog-publish-date {
        line-height: normal;
        span {
          color: var(--bs-heading-color);
          font-size: 0.75rem;
          font-weight: 600;
          letter-spacing: 0.015rem;
          text-transform: capitalize;
        }
      }
      .blog-categories {
        line-height: normal;
        li {
          position: relative;
          &:not(:last-child):after {
            position: absolute;
            content: "";
            background: var(--#{$variable-prefix}body-color);
            height: 0.2rem;
            width: 0.2rem;
            border-radius: 100%;
            top: 60%;
            bottom: 0;
            right: -0.8rem;
            left: auto;
            transform: translateY(-50%);
          }
          span {
            color: var(--#{$variable-prefix}body-color);
            font-size: 0.75rem;
            font-weight: 600;
            letter-spacing: 0.015rem;
            text-transform: capitalize;
          }
        }
      }
    }
    .blog-title {
      margin-bottom: 2.13rem;
      h5 {
        transition: color 400ms ease, background 400ms ease;
      }
      &:hover {
        h5 {
          color: var(--bs-primary);
        }
      }
    }
    .author-block {
      font-family: $font-family-monospace;
      span {
        color: var(--bs-heading-color);
        transition: color 400ms ease;

        &:hover{
          color: var(--bs-primary);
        }
        
      }
    }
  }
  .iq-btn-container {
    .btn-link {
      color: var(--bs-heading-color);
      font-size: $font-size-sm;
      font-weight: 500;
      transition: color 400ms ease, background 400ms ease;
      &:hover {
        color: var(--bs-primary);
      }
    }
  }
}

@media (max-width: 575px) {
  .iq-blog {
    img.blog-image {
      height: 11.5rem;
    }
    .iq-post-details {
      .blog-meta-data {
        padding: 0.875rem 0.75rem;
      }
    }
  }
}

.blog-detail {
  .blog-image {
    img.blog-image {
      height: 40.625rem;
    }
  }
  .blog-heading-part {
    .blog-heading-box {
      background: var(--bs-body-bg);
      padding: 3.75rem 3.125rem 1.875rem;
      margin-top: -6.6875rem;
      border-radius: 0.9375rem 0.9375rem 0 0;
      .blog-tag {
        li {
          &:not(:first-child) {
            padding-left: 0.75rem;
            margin-left: 0.375rem;
            &::before {
              content: "";
              background: var(--#{$variable-prefix}body-color);
              width: 0.25rem;
              height: 0.25rem;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              border-radius: 50%;
              left: 0;
            }
          }
        }
      }
      .blog-title {
        width: 70%;
        margin: 0 auto;
      }
    }
  }
  .blog-content-part {
    .blog-inner {
      border-radius: 0 0 .9375rem .9375rem;
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
    }
  }

  .quote-box {
    .quote-font {
      line-height: 200%;
    }
    .quote {
      right: 20px;
    }
  }
}

.iq-blogcat {
  a {
    padding: 3px 8px;
    color: var(--#{$variable-prefix}body-color);
    cursor: pointer;
    transition: all 300ms ease-in-out;
  }
  &:hover a,
  &.active a {
    color: var(--bs-primary);
  }
}

.social-share {
  a {
    color: var(--#{$variable-prefix}body-color);
    transition: all 300ms ease-in-out;
    &:hover {
      color: var(--bs-primary);
    }
  }
}

.navigation {
  .previous,
  .next {
    width: 20%;
    color: var(--#{$variable-prefix}body-color);
    .blog-title {
      color: var(--#{$variable-prefix}body-color);
      transition: all 300ms ease-in-out;
    }
    &:hover,
    &.active {
      .blog-title {
        color: var(--bs-heading-color);
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 1200px) {
  .blog-detail {
    .blog-heading-part {
      .blog-heading-box {
        .blog-title {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .navigation {
    .previous,
    .next {
      width: 50%;
    }
  }
}

@media (max-width: 767px) {
  .blog-detail {
    .blog-content-part {
      .blog-inner {
        padding-bottom: 3.125rem;
      }
    }
  }
  .navigation {
    .previous,
    .next {
      width: 100%;
    }
  }
}

@media (max-width: 575px) {
  .blog-detail {
    .blog-image {
      img.blog-image {
        height: 25rem;
      }
    }
    .blog-heading-part {
      .blog-heading-box {
        padding: 1rem;
      }
    }
    .blog-content-part {
      margin-top: 1rem;
    }
  }
}

.blog-content-part p, 
.blog-content-part p span {
  color: var(--bs-body-color) !important;
}

