@import "./blog";
@import "./booking";
@import "./category";
@import "./provider";
@import "./service";
@import "./testimonial";
@import "./title";
@import "./breadcrumb";
@import "./video-popup";
@import "./icon-box";
@import "./booking-service-box";
@import "./timeline";
@import "./help-desk";
