[data-bs-theme="dark"] {
    .mode-icons {
        &.light-mode {
            display: none;
        }

        &.dark-mode {
            display: block;
        }
    }

    .select2-container {
        .select2-search--dropdown {
            .select2-search__field {
                background-color: var(--bs-body-bg) !important;
                color: var(--bs-body-color) !important;
            }
        }
    }
}