table,
.table {
    thead {
        th {
            border-bottom: 1px solid var(--bs-border-color);
            background: var(--bs-primary);
            color: var(--bs-white);
            vertical-align: middle;
            span{
                color: var(--bs-white);
            }
        }
    }

    tr {
        th {
            background: var(--bs-primary);
            color: var(--bs-white);
        }
    }

    th,
    td {
        border: none;
        padding: 1.25rem 2rem;
    }

    td {
        border-bottom: 1px solid var(--bs-border-color);
    }

    span {
        color: var(--bs-body-color);
    }

    p {
        color: var(--bs-body-color);
    }
}
.table-striped{
    tbody{
        tr{
            &:nth-of-type(odd) {
                background-color: var(--bs-gray-800);
            }
        }
    }
}
.bk-summary-table {
    .table-sm {
        td {
            padding: 0.6rem;
        }
    }
}
.dataTables_wrapper {
    .dataTables_info {
        padding-top: 0 !important;
        padding-bottom: 0.5rem !important;
        color: var(--bs-body-color) !important;
        font-size: 0.875rem !important;
    }
}
