.booking {
    .booking-img {
        margin-left: 2.5rem;
        margin-right: 0;
    }
    .booking-date {
        border-radius: 8px 0 0 0;
        left: 0;
        right: auto;
      }
}

.booking-detail-table{
    tr{
        th{
            padding-right: 0;
            padding-left: $table-cell-padding-x;
        }
    }
}