.breadcrumb-item {
  & + .breadcrumb-item {
    padding-right: var(--bs-breadcrumb-item-padding-x);
    padding-left: 0;
  }

  & + .breadcrumb-item::before {
    float: right;
    padding-left: var(--bs-breadcrumb-item-padding-x);
    padding-right: 0;
  }
}
