.provider-details-overview {
    display: grid;
    gap: 0.625rem;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 30px;

    .statistics-card {
        h3 {
            color: var(--bs-heading-color);
            font-size: 0.875rem;
            font-weight: 400;
        }

        &::after {
            position: absolute;
            inset-inline-start: 0;
            inset-block-end: 0;
            background-color: rgba(var(--bs-primary-rgb),.1);
            opacity: 0.05;
            content: "";
            block-size: 100%;
            inline-size: 8.125rem;
            z-index: -1;
            border-end-end-radius: 100%;
            border-end-end-radius: 0;
            border-start-end-radius: 12.5rem;
            opacity: 1;
            inline-size: 80%;
            block-size: 96%;
        }
       
    }
}

.provider-details-overview__statistics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.3125rem;

    .statistics-card__style2 {
        border: 0.0625rem solid var(--bs-primary-bg-subtle);
    }

    .statistics-card__already-withdraw {
        border: 0.0625rem solid var(--bs-success-bg-subtle);
        h2 {
            color: var(--bs-success);
        }
        &::after{
            background: rgba(var(--bs-success-rgb),.05);
        }
    }

    .statistics-card__withdrawable-amount {
        border: 0.0625rem solid var(--bs-danger-bg-subtle);
        h2 {
            color: var(--bs-danger);
        }
        &::after{
            background: rgba(var(--bs-danger-rgb),.05);
        }
    }

    .statistics-card__total-earning {
        border: 0.0625rem solid var(--bs-warning-bg-subtle);
        h2 {
            color: var(--bs-warning);
        }
        &::after{
            background: rgba(var(--bs-warning-rgb),.05);
        }
    }

    .statistics-card__order-overview {
        border: 0.0625rem solid var(--bs-primary-bg-subtle);
        h2 {
            color: var(--bs-primary);
        }
        &::after{
            background: rgba(var(--bs-primary-rgb),.05);
        }
    }

}

.statistics-card__order-overview {
    border: 0.0625rem solid var(--bs-primary-bg-subtle);
}

.business-summary,
.statistics-card {
    background: var(--bs-gray-900);
    padding: 1.25rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;

    h2 {
        font-size: 1.875rem;
        color: var(--bs-primary);
    }
    
    &::after{
        position: absolute;
        inset-inline-start: 0;
        inset-block-end: 0;
        background-color: var(--bs-primary-bg-subtle);
        opacity: 0.05;
        content: "";
        block-size: 100%;
        inline-size: 8.125rem;
        z-index: -1;
        border-end-end-radius: 100%;
    }
}

.information-details-box {
    display: flex;
    background-color: var(--bs-gray-900);
    border: 1px solid var(--bs-border-color);
    box-shadow: var(--bs-box-shadow);
    padding: 1.875rem;
    .avatar-img {
        max-inline-size: 8.75rem;
    }
}

.service-man-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 1.25rem;
}

.service-man-list__item {
    box-shadow: var(--bs-box-shadow);
}

.service-man-list__item_header {
    background: rgba(65, 83, 179, 0.05);
    border-radius: 0.625rem 0.625rem 1.25rem 1.25rem;
    padding: 0.9375rem;
    text-align: center;
    .service-man-name {
        color: var(--bs-primary);
    }
    .service-man-phone {
        font-size: 0.75rem;
        color: var(--bs-body-color);
    }
}

.service-man-list__item_body {
    padding: 0.9375rem;
    text-align: center;
    .service-man-mail {
        color: var(--bs-heading-color);
    }
    .service-man-address {
        margin: .5rem 0 0;
        color: var(--bs-body-color);
    }
}

.service-man-list__item_header img {
    inline-size: 3.625rem;
    block-size: 3.625rem;
    -webkit-margin-after: 0.5rem;
    margin-block-end: 0.5rem;
}

.service-man-list__item_header img,
.avatar-status {
    border-radius: 100%;
}

.rating-review-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rating-review-wrapper .rating-review {
    text-align: center;
}

.rating-review__title {
    font-weight: var(--bs-font-weight-medium);
    font-size: 2.1875rem;
    color: var(--bs-body-color);
    -webkit-margin-after: 0.25rem;
    margin-block-end: 0.8rem;
}

.rating-review__out-of {
    color: var(--bs-primary);
    font-size: 3.125rem;
    margin-inline-end: 0.3125rem;
}

.rating-icons {
    margin-bottom: 0.8rem;
}

.rating-review__info {
    color: var(--bs-body-color);
    font-weight: var(--bs-font-weight-semibold);
}

.information-details-box .avatar-img {
    max-inline-size: 8.75rem;
}

.search-form__input_group,
.btn,
.wizard .actions ul a,
.nav--tabs__style2 .nav-link,
.business-summary,
.statistics-card,
.nav ul li,
.service-list-item {
    border-radius: 0.3125rem;
}

.list-inline, .list-info, .widget ul, .contact-list, .wizard .steps ul, .wizard .actions ul, .services-tab-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

// booking

.pay-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0 1rem;
}

// booking table
.bk-summary-table {
    background: var(--bs-body-bg);
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;

    .table-sm {
        td {
            padding: 0.6rem;

            &.bk-value {
                text-align: end;
            }
        }
    }

    .grand-total {
        td {
            border-top: 1px solid var(--bs-border-color);
        }
    }

    .grand-sub-total {
        td {
            padding-bottom: 0.8rem;
        }
    }
}

.image-preview-container {
    position: relative;
}

.card-body.activity-height{
    max-height: 368px !important;
    overflow-x : hidden !important;
}

.nav-fill .nav-item {
    text-align: left;
}

.dark-mode-trashed {
    background-color:hsla(0,0%,100%,.08) !important;
}
.light-mode-trashed {
    background-color:rgb(229 234 239) !important;
}

.profile-card h3 {
    position: relative;
    z-index: 9;
}

.iq-top-navbar .language-dropdown-menu ul {
    max-height: 376px;
    overflow: scroll;
}
.lang_table tbody {
    display: block;
    max-height: 450px;
    overflow-y: scroll;
  }
  
  .lang_table thead, .lang_table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
.customer-info-detail {
    .list-info {
        display: flex;
        flex-direction: column;
        gap: 0.875rem;
        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            .customer-info-text {
                color: var(--bs-body-color);
                padding: 0;
                margin: 0;
            }
            .customer-info-value {
                color: var(--bs-heading-color);
                font-weight: 600;
                padding: 0;
            }
        }
    }
}
#permissionList{
    .btn{
        &:hover {
        background-color: var(--bs-primary);
        
            .permission-text{
                color: var(--bs-white);
            }
        }
    }
  }
@media(min-width:1300px) {
    body{
        &.sidebar-main{
            .iq-sidebar-menu{
                .side-menu{
                    li{
                        &.category-main{
                            a {
                                margin-left: 0 !important;
                                margin-right: 0 !important;
                                padding-left: 0 !important;
                                padding-right: 0 !important;
                                justify-content: center;
                                overflow: visible !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
.select2-container--default{
    .select2-selection--multiple{
        .select2-selection__choice {
            border-radius: 4px;
            box-sizing: border-box;
            display: inline-block;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            line-height: normal;
        }
    }
}
@media only screen and (max-width: 991px) {
    .provider-details-overview {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 767px) {
    .provider-details-overview {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 1300px) {
    .side-menu-bt-sidebar{
        &.small-device-toggle{
            .wrapper-menu {
                display: none;
            }
        }
    }
}

.helpdesk-details-overview__statistics {
    // display: grid;
    grid-template-columns: 1fr;
    gap: 0.3125rem;

    .statistics-card__style2 {
        border: 0.0625rem solid var(--bs-primary-bg-subtle);
    }

   
    .statistics-card__order-overview {
        border: 0.0625rem solid var(--bs-primary-bg-subtle);
        h2 {
            color: var(--bs-primary);
        }
       
    }

}
.helpdesk-details-overview {  
    .statistics-card {
        display: inherit;
        background-color: var(--bs-body-bg) !important;
        h3 {
            color: var(--bs-heading-color);
            font-size: 0.875rem;
            font-weight: 400;
        }       
        table {
            tr {
                td {
                    padding: .438rem 0;
                    border: none;
                }
            }
        }
        .helpdesk-status {
            position: absolute;
            top: 0;
            left: auto;
            right: 0;
            .badge {
                border-radius: 0 0.3125rem 0 0.375rem;
            }
        }
        .provider-timeline {
            margin: 0 0 0 15px;
            padding: 0;
            border-color: var(--bs-primary);
            border-left-style: dashed;
            li {
                margin-left: 25px;
                margin-top: 30px;
                &:first-child {
                    margin-top: 0;
                }
                .timeline-dots {
                    border: none;
                    height: 40px;
                    width: 40px;
                    top: 0;
                    left: -45px;
                    padding: 0;
                }
                .message-content {
                    background: var(--bs-gray-900);
                    padding: 1em;
                    border: 1px solid var(--bs-border-color);
                    border-radius: var(--bs-border-radius);
                }
            }
        }
    }
}